In [ ]:
import pandas as pd
amex= pd.read_csv('amex-listings.csv')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

In [ ]:
#Dealing with Missing Valus
amex= pd.read_csv('amex-listings.csv',na_values= 'n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

In [ ]:
#properly Parsing dates
amex= pd.read_csv('amex-listings.csv',na_values='n/a',parse_dates=['Last Update'])
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 22.6+ KB

In [ ]:
amex.head(2)

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Last Update
0,XXII,"22nd Century Group, Inc",1.33,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,2017-04-26
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.00,1.266333e+09,1986.0,NaN,NaN,2017-04-25

#Read Data From Excel Worksheet

In [ ]:
#Import Data From one Sheet
amex= pd.read_excel('listings.xlsx',
                    sheet_name = 'amex',
                    na_values='n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Last Update            360 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 22.6+ KB

In [ ]:
#Import Data from two sheets
listings=pd.read_excel('listings.xlsx',
                       sheet_name=['amex','nasdaq'],
                       na_values='n/a')
listings['nasdaq'].info()

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3167 non-null   object
 1   Company Name           3167 non-null   object
 2   Last Sale              3165 non-null   float64
 3   Market Capitalization  3167 non-null   float64
 4   IPO Year               1386 non-null   float64
 5   Sector                 2767 non-null   object
 6   Industry               2767 non-null   object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [ ]:
#Get Sheet Name
xls= pd.ExcelFile('listings.xlsx')
exchanges =xls.sheet_names
exchanges

['amex', 'nasdaq', 'nyse']

In [ ]:
nyse= pd.read_excel(xls,
                    sheet_name=exchanges[2],
                    na_values= 'n/a')
nyse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3147 non-null   object
 1   Company Name           3147 non-null   object
 2   Last Sale              3079 non-null   float64
 3   Market Capitalization  3147 non-null   float64
 4   IPO Year               1361 non-null   float64
 5   Sector                 2177 non-null   object
 6   Industry               2177 non-null   object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

#Combine Data From Multiple Worksheets

In [ ]:
amex= pd.read_excel('listings.xlsx',
                    sheet_name= 'amex',
                    na_values=['n/a'])
nyse= pd.read_excel('listings.xlsx',
                    sheet_name='nyse',
                    na_values=['n/a'])
pd.concat([amex,nyse]).info()

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3507 entries, 0 to 3146
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3507 non-null   object
 1   Company Name           3507 non-null   object
 2   Last Sale              3425 non-null   float64
 3   Market Capitalization  3507 non-null   float64
 4   IPO Year               1466 non-null   float64
 5   Sector                 2415 non-null   object
 6   Industry               2415 non-null   object
dtypes: float64(3), object(4)
memory usage: 219.2+ KB

In [ ]:
#Add A Reference Column
amex['Exchange']= 'AMEX' #add column to reference source
nyse['Exchange']='NYSE'
listings= pd.concat([amex,nyse])
listings.head(2)

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Exchange
0,XXII,"22nd Century Group, Inc",1.33,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,AMEX
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.00,1.266333e+09,1986.0,NaN,NaN,AMEX

In [ ]:
#Combine Three DataFrame
xls= pd.ExcelFile('listings.xlsx')
exchanges= xls.sheet_names
#Create empty list to collect DataFrame
listings=[]

for exchange in exchanges:
  listing= pd.read_excel(xls,sheet_name=exchange)
  #add Reference col
  listing['Exchange']= exchange
  #Add DataFrame to list
  listings.append(listing)
  #list of DataFrame
  combined_listings= pd.concat(listings)

  combined_listings.info()

/usr/local/lib/python3.8/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           360 non-null    object
 1   Company Name           360 non-null    object
 2   Last Sale              346 non-null    float64
 3   Market Capitalization  360 non-null    float64
 4   IPO Year               105 non-null    float64
 5   Sector                 238 non-null    object
 6   Industry               238 non-null    object
 7   Exchange               360 non-null    object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3527 entries, 0 to 3166
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           3527 non-null   object
 1   Company Name           3527 non-null   object
 2   Last Sale              3511 non-null   float64
 3   Market Capitalization  3527 non-null   float64
 4   IPO Year               1491 non-null   float64
 5   Sector                 3005 non-null   object
 6   Industry               3005 non-null   object
 7   Exchange               3527 non-null   object
dtypes: float64(3), object(5)
memory usage: 248.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           6674 non-null   object
 1   Company Name           6674 non-null   object
 2   Last Sale              6590 non-null   float64
 3   Market Capitalization  6674 non-null   float64
 4   IPO Year               2852 non-null   float64
 5   Sector                 5182 non-null   object
 6   Industry               5182 non-null   object
 7   Exchange               6674 non-null   object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB